*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    text-decoration: none;
}

h1{
    margin: 50px;
    font-size: 100px;
    text-align: center;
}


img{
    display: block;
    margin: 0 auto;
    width: 300px;
}

button{
    display: block;
    margin: 50px auto;
    width: 150px;
    height: 50px;
    font-size: 30px;
    background: transparent;
    border: 5px solid black;
    transition: 0.3s all ease;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

button:active{
    transform: scale(0.8);
}

a{
    color:black;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
